.ant-input-affix-wrapper,
.ant-input-affix-wrapper-focus {
  @apply !p-2.5  !border-none !shadow-none !bg-transparent;
}
.ant-input-group-addon {
  @apply !border-none !bg-transparent;
}
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  @apply !border-transparent;
}
.ant-input-group-wrapper.ant-input-search {
    @apply rounded overflow-hidden;
  background-color: theme('colors.gray_4');
}
.ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child
  .ant-input-search-button:not(.ant-btn-primary) {
  @apply !border-none !bg-transparent;
}
.ant-input-suffix {
    @apply hidden;
}
.ant-input,
.ant-input::placeholder {
    @apply  bg-transparent font-sans not-italic font-normal text-sm;
  color:  theme('colors.gray_1');
}
.ant-input-group-addon:last-child {
  background-color: theme('colors.primary') !important;
}
.ant-btn-primary {
  @apply !border-none !bg-transparent !shadow-none;
  border-color: initial !important;
  
}
.ant-btn-primary svg {
    width: 24px;
    height: 24px;
}
